/* шрифты */

@font-face {
    font-family: 'Inter Bold';
    src: local('Inter Bold'), url(./fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: 'Inter SemiBold';
    src: url(./fonts/Inter-SemiBold.ttf);
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(./fonts/Inter-Regular.ttf);
}

main {
    padding: 0;
    margin: 0;
}

.container {
    width: 1440px;
    margin: auto;
}

.topbar {
    background: #292F3C;
    padding-left: 87px;
    gap: 330px;
    display: flex;
    align-items: center;
    height: 184px;
}

.logowrap {
    display: flex;
    align-items: center;
}

.logoTxt {
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    width: 399px;
    margin-left: 29px;
    color: white;
}

.contacts {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: white;
}

.phoneHead {
    font-family: 'Inter Bold';
}

.emailHead {
    font-family: 'Inter Bold';
    margin-top: 9px;
}

.emailContent {
    border-bottom: 2px solid white;
}

.navbar {
    background: #384360;
}

.buttonsWrap {
    display: flex;
    justify-content: space-between;
    width: 1274px;
    margin: auto;
}

footer .container {
    padding-top: 31px;
    padding-bottom: 31px;
    background: #1c2029;
}

.navbarBTN {
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: white;
}

.topHalf {
    display: flex;
    margin-left: 87px;
    align-items: center;
}

.socWrap {
    display: flex;
    gap: 98px;
    margin-left: 142px;
}

.copyright {
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #C1C1C1;
}

.bottomHalf {
    padding-top: 18px;
    display: flex;
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: white;
    margin-left: 87px;
}

.adressText {
    color: #C1C1C1;
}

.phone {
    margin-right: 156px;
    margin-left: 80px;
}

.phoneText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
}

.emailText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    border-bottom: 2px solid white;
    line-height: 30px;
}

.mainImg {
    height: 753px;
    background-position: 100% 67%;
    background-image: url(./components/image\ 1.png);
}

.aducationWrapper {
    background: #1c2029;
}

.aducationHead {
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    color: #FFFFFF;
    margin-left: 87px;
    padding-top: 19px;
}

.pseudoContainer {
    width: 1266px;
    margin: auto;
}

.facultsHead {
    width: 305px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
    color: #FFFFFF;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 28px;
}

.facultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* justify-content: space-around; */
}

.facultet {
    background: #888389;
    border-radius: 45px;
    width: 413px;
    height: 409px;
    margin-bottom: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facultetName {
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-top: 21px;
    margin-bottom: 9px;
}

.facultetDesc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

.teacherContainer {
    display: flex;
    width: 700px;
    padding: 20px;
    box-sizing: border-box;
    max-width: 50%;
    display: flex;
    margin-bottom: 35px;
}

.teacherFace {
    width: 192px;
    height: 228px;
}

.teacherName {
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 35px;
    color: #FFFFFF;
}

.teacherDesc {
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.teachers {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.teacherInfo {
    margin-left: 9px;
}

.teachersHead {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
    color: #FFFFFF;
    width: 397px;
    margin: auto;
}

.abiturWrapper {
    background: #1c2029;
}

.points {
    margin: auto;
    border: 3px solid #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    width: 1000px;
    height: 403px;
    text-align: center;
}

.nameFac {
    text-align: start;
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    background-color: transparent;
    padding-left: 27px;
}

.tableWrap {
    display: flex;
    flex-direction: column;
    width: 1266px;
    height: 528px;
    border-radius: 33px;
    margin: auto;
    background: #c6c6c6;
    align-items: center;
    margin-top: 19px;
}

.tableName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #2F3950;
    margin-top: 23px;
}

.docsHead {
    width: 261px;
    margin: auto;
    margin-top: 17px;
    margin-bottom: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: white;
}

.docsList {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
    padding-bottom: 40px;
}

.aboutWrapper {
    background: #1c2029;
    color: white;
}

.infoHead {
    padding-top: 37px;
    padding-bottom: 25px;
    width: 220px;
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.infoContent {
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
}

.hostelHead {
    padding-top: 70px;
    padding-bottom: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    width: 268px;
    margin: auto;
}

.hostelDesc {
    padding-top: 44px;
    padding-bottom: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
}

.hostelCost {
    font-family: 'Inter SemiBold';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 99px;
}